<div id="wrapper" class="aside-fixed header-fixed"
      ng-controller="DashboardController"  >
  <aside id="aside" class="navbar vertical-top"  >
      <nav nav-scroll>
          <div class="nav-header">
          <a class="nav-coverphoto" ui-sref="user.datos"></a>
              <div class="profile-element text-align-left">
                  <a ui-sref="user.datos" class="display-inline" >
                      <span class="sub-title">
                          {{ nickname }}
                      </span>
                  </a>
              </div>
          </div>
          <ul class="nav" id="side-menu" nav-collapse>
            <li
              data-ng-class="{open: $state.includes('catalogo')}">
              <a href="" toggle-submenu>
                  <span class="inner">
                      <ng-md-icon icon="dashboard" class="icono" size="16"></ng-md-icon>
                      <span class="nav-label">Crear Reporte</span>
                      <ng-md-icon icon="chevron_left" size="18" class="arrow"></ng-md-icon>
                  </span>
              </a>
              <ul class="nav nav-second-level">
                <li><a
                ui-sref="catalogo.dominio"
                ui-sref-active="active"
                >Activación</a></li>
                <li><a
                ui-sref="catalogo.hosting"
                ui-sref-active="active"
                >Campaña</a></li>
                <li><a
                ui-sref="catalogo.correo"
                ui-sref-active="active"
                >Evento</a></li>
              </ul>
            </li>
            <li
            data-ng-class="{open: $state.includes('servicios')}"
            >
              <a href="" toggle-submenu>
                <span class="inner">
                  <ng-md-icon icon="star" class="icono" size="16"></ng-md-icon>
                  <span class="nav-label">Mis reportes</span>
                  <ng-md-icon icon="chevron_left" size="18" class="arrow"></ng-md-icon>
                </span>
              </a>
              <ul class="nav nav-second-level">
                <li><a
                ui-sref="servicios.dominios"
                ui-sref-active="active"
                >Dominios</a></li>
                <li><a
                ui-sref="servicios.dominios"
                ui-sref-active="active"
                >Dominios</a></li>
              </ul>
            </li>
            <li
            data-ng-class="{open: $state.includes('user')}">
              <a href="" toggle-submenu>
                <span class="inner">
                  <ng-md-icon icon="account_box" class="icono" size="16"></ng-md-icon>
                  <span class="nav-label">Mis datos</span>
                  <ng-md-icon icon="chevron_left" size="18" class="arrow"></ng-md-icon>
                </span>
              </a>
              <ul class="nav nav-second-level ">
                <li>
                  <a
                  ui-sref="user.datos"
                  ui-sref-active="active">
                  Datos personales</a>
                </li>
              </ul>
            </li>
          </ul>
      </nav>
  </aside>

  <header class="header" id="header-admin">
    <div class="display-table">
      <div class="display-table-cell height_100 text-align-left">
        <ul class="nav-left display-inline">
          <li class="menu-button">
            <md-button class="md-button btn-menu-button md-icon-button" btn-navbar aria-label="Menu">
              <div class="helper"></div><!--
              --><svg width="18" height="22" class="display-inline">
                <rect id="bar_11" x="6" y="4" width="18" height="2" fill="#494949"></rect>
                <rect id="bar_21" x="3" y="9" width="18" height="2" fill="#494949"></rect>
                <rect id="bar_31" x="0" y="14" width="18" height="2" fill="#494949"></rect>
              </svg>
            </md-button>
          </li>
        </ul><!--
        --><div class="display-inline wrapper-logo">
          <h1 class="display-inline">
            <a ui-sref="user.datos" title="Yachay" class="logo">
              <img src="/logo.png" width="140" alt="Yachay" />
            </a>
          </h1>
        </div>
      </div>
      <div class="display-table-cell height_100 text-align-right">
        <div class="display-inline">
            <menu-drop-down></menu-drop-down>
        </div>
      </div>
    </div>
  </header>
  <main ui-view="content" class="animate-fade-left" id="contenido"></main>
</div>