<header-bread-crumb>
</header-bread-crumb>
<div class="loading-content loading-content-js">
  <img src="/loading-content.svg" alt="" />
</div>
<div class="wrapper-content padding-30">
  <md-content  layout-padding>
    <div layout="row" layout-xs="column">
      <div flex layout-padding>
        <md-input-container>
          <label>Cliente</label>
          <md-select aria-label="Cliente" ng-model="report.customer">
            <md-option ng-value="1">X</md-option>
            <md-option ng-value="2">Y</md-option>
            <md-option ng-value="3">Z</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex layout-padding >
        <md-input-container>
          <label>Activación</label>
          <md-select aria-label="Activación" ng-model="report.activity">
            <md-option ng-value="1">X</md-option>
            <md-option ng-value="2">Y</md-option>
            <md-option ng-value="3">Z</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex layout-padding>
        <md-input-container>
          <label>Departamento</label>
          <md-select aria-label="Departamento" ng-model="report.department">
            <md-option ng-repeat="department in data.departments" ng-value="{{department.id}}">{{department.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div flex layout-padding >
        <md-input-container>
          <label>Provincia</label>
          <md-select aria-label="Provincia" ng-model="report.province">
            <md-option ng-repeat="province in data.provinces | filter: { department_id: report.department }" ng-value="{{province.id}}">{{province.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex layout-padding>
        <md-datepicker ng-model="report.start_date" md-placeholder="Desde"></md-datepicker>
      </div>
      <div flex layout-padding >
        <md-datepicker ng-model="report.end_date" md-placeholder="Hasta"
        md-min-date="report.start_date"></md-datepicker>
      </div>
    </div>
    <div layout="row">
      <div flex layout-padding>
        <md-radio-group ng-model="report.mode">
          <md-radio-button ng-repeat="mode in data.modes | filter: { activity_type_id: 1 }" value="{{mode.id}}">{{mode.name}}</md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div layout="row">
      <div flex layout-padding>
        <md-input-container >
          <label>Punto</label>
          <input type="text"
            name="point"
            ng-model="report.point"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex layout-padding>
        <md-input-container >
          <label>Alcance</label>
          <input type="text"
            name="scope"
            ng-model="report.scope"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
      <div flex layout-padding>
        <md-input-container >
          <label>Ventas</label>
          <input type="text"
            name="sales"
            ng-model="report.sales"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
      <div flex layout-padding>
        <md-input-container >
          <label>Nº de personas</label>
          <input type="text"
            name="people"
            ng-model="report.people"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
    </div>
    <h3>Producto</h3>
    <div layout="row">
      <div flex layout-padding>
        <md-input-container >
          <label>Presentación</label>
          <input type="text"
            name="product"
            ng-model="report.quantities[0].name"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
    </div>
    <div layout="row" layout-xs="column">
      <div flex layout-padding>
        <md-input-container >
          <label>Cantidad usada</label>
          <input type="text"
            name="product-used"
            ng-model="eport.quantities[0].used"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
      <div flex layout-padding>
        <md-input-container >
          <label>Cantidad restante</label>
          <input type="text"
            name="product remaining"
            ng-model="eport.quantities[0].remaining"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
    </div>
    <h3>Merchandising</h3>
    <div layout="row" layout-xs="column">
      <div flex layout-padding>
        <md-input-container >
          <label>Cantidad usada</label>
          <input type="text"
            name="product-used"
            ng-model="eport.quantities[0].used"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
      <div flex layout-padding>
        <md-input-container >
          <label>Cantidad restante</label>
          <input type="text"
            name="product remaining"
            ng-model="eport.quantities[0].remaining"
          >
          <div class="border-bottom"></div>
        </md-input-container>
      </div>
    </div>
  </md-content>
</div>