ng-md-icon {
  margin-top: 4px;
}

.canvas-container,
.stat-options {
  display: inline-block;
  vertical-align: top;
}

.canvas-container {
  width: 75%;
}
.stat-options {
  width: 25%;
}

header {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

md-icon {
  padding-top: 5px;
}

md-icon.fa-times {
  color: white;
  opacity: .75;
}

.md-mini.md-button {
  padding: 0 6px;
}

.photo img { width: 100%; }

.div-photo { position: relative; }
.photos img {
  height: 200px;
  width: 95%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #DDD;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-stack {
  float: left;
  position: absolute;
  top: 10px;
  right: 0;
  &:hover {
    cursor: pointer;
  }
}

.photos {
  overflow: hidden;
}

.photos article {
  float: left;
  width: 30%;
  margin-right: 5%;
  &:nth-child(3n+1) {
    margin-right: 0;
  }
}

.logo-login { width: 180px; }

.agregar-registro.company md-input-container {
  margin-bottom: 0;
}

.md-button.md-fab.addactivity {
  vertical-align: top;
  margin-top: 12px;
}

.agregar-actividad.agregar-registro div:nth-child(3) {
  width: auto;
}


.summary {
  background-color: white;
  padding: 4em 1em;
  margin-top: 2em;

  h2, h3 {
    margin-bottom: 1.5em;
  }

  h4, h5 {
    font-size: 1.5em;
  }
  h4 {
    margin-bottom: 16px;
  }

  h6 {
    font-size: 1em;
    margin-bottom: 32px;
  }

  .big-logo {
    margin-bottom: 2em;
    width: 350px;
  }

  .comments {
    margin-bottom: 2em;
    ul {
      padding: 0 10em;
    }
    li {
      list-style-type: disc;
      text-align: left;
    }
  }

  .photos {
    margin-bottom: 2em;
  }
}
























