ng-md-icon {
  margin-top: 4px;
}


.canvas-container,
.stat-options {
  display: inline-block;
  vertical-align: top;
}

.canvas-container {
  width: 75%;
}
.stat-options {
  width: 25%;
}

header {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

header img {
  width: 180px;
}

md-icon.fa-times {
  padding-top: 5px;
  color: white;
  opacity: .75;
}